
.UserCard-info {
  .item-userStats {
    display: block;
    margin-top: 20px;
  }
}

.user-stats-fe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  .stat {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }
  .statvalue {
    text-align: center;
  }
}

.edit-stat-modal-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    padding: 1.5rem;
  }
}

.UserCard {
  .show-stats-wrapper {
    background-color: @body-bg;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .show-stats-container {
    background-color: @body-bg;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
}

.UserCard-profile {
  ul.UserCard-info {
    li.item-money {
      display: none;
    }
    li.item-storiesCount {
      display: none;
    }
  }
}

p.statvalue {
  font-weight: bolder;
  font-size: 20px;
}

p.stat-desc {
  margin-top: 8px;
  margin-bottom: 0;
}
